#
# DART-Caddy env vars
#
PIPELINE_GUI_PORT=8001
CF_API_TOKEN=YOUR_DNS_API_TOKEN

#
# DART-Vis-app env vars
#
## Note: 5000 is taken on macOS by ControlCenter
## So, when serve on macOS, try another port
FLASK_DEV_HOST=0.0.0.0
FLASK_DEV_PORT=5000
FLASK_DEV_DEBUG=True

PROD_WORKERS=2
PROD_WSGI_PORT=8000

DART_PIPELINE_FORECAST_PATH=~/.local/share/dart-pipeline/output/VNM/dengue

#
# DART-Pipeline-GUI env vars
#
## Streamlit config.toml, if any
STREAMLIT_CONF=./streamlit_config.toml

## use from DART-Pipeline base image
CONFIG_SH_PATH=/app/config.sh

## the container host's path to DART-Pipeline's working dir
## should be the value below
HOST_DART_PIPELINE_WORKDIR=~/.local/share/dart-pipeline
