#
# DART-Caddy env vars
#
CF_API_TOKEN=YOUR_CF_API_TOKEN

#
# DART-Vis-app env vars
#
## Note: 5000 is taken on macOS by ControlCenter
## So, when serve on macOS, try another port
FLASK_DEV_HOST=0.0.0.0
FLASK_DEV_PORT=5000
FLASK_DEV_DEBUG=True

VIS_APP_WORKERS=4
VIS_APP_PORT=8000

DART_PIPELINE_FORECAST_PATH=~/.local/share/dart-pipeline/output/VNM/dengue

#
# DART-Pipeline-GUI env vars
#
## Subdomain for DART-Pipeline-GUI
PIPELINE_GUI_SUBDOMAIN=pipeline

## Streamlit server configs
STREAMLIT_SERVER_PORT=8001

## the container host's path to DART-Pipeline's working dir
## should be the value below
HOST_DART_PIPELINE_WORKDIR=~/.local/share/dart-pipeline
